* {
   box-sizing: border-box; 
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: o;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 


/* 
font-family: 'Inika', serif;
font-family: 'Inter', sans-serif;
 */

body {
    max-width: 1440px;
    margin: 0 auto;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

[class*="__container"] {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0px 15px;
}

.page {
    flex: 1 1 auto;
}

/*  Header  */

.header {
    background: #EDF2EC;
    width: 100%;
    border: #010201;
}

.header__container {
    display: flex;
    align-items: center;
    min-height: 50px;
    padding: 26px 0px;
    margin: 0px 95px;
}

.header__menu {
    flex: 1 1 auto;
   
}

.header__logo {
    padding-left: 16px;
    padding-bottom: 5px;
}
   

.menu__list {
    display: flex;
    column-gap: 46px;
    justify-content: flex-end;
    list-style: none;
/*    margin: 38px 0px;*/
}

.menu__link {
    font-family: 'Inika', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: #010201;
    text-decoration: none;
}

.menu__link:hover {
    text-decoration: underline;
}

.active {
    color: #E06733;
}

.welcome {
    background: #EDF2EC;   
}

.green {
    color: #499A18;
}

.welcome__button {
    padding: 11px 26px;
    border: 2px solid #E06733;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.welcome__button:hover {
    background: #E06733;
    color: white;
}

.welcome__container {
    display: flex;
    gap: 145px;
    padding-top: 61px;
    padding-bottom: 43px;
}

.welcome__images {
    flex: 0 1 50%; 
}  

.welcome__content {
    flex: 0 1 50%;  
}

.welcome__title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
    padding-top: 5px;
    margin: 32px 0 45px;
}

.welcome__text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
}

.welcome__paragraph {
    margin-bottom: 58px; 
}

/* About us */

.about {
    background: #FFFFFF;
}

.about__container {
    display: flex;
    padding-top: 104px;
    padding-bottom: 75px; 
}

.about__images {
    flex: 0 1 50%;
    text-align: end;
}

.about__photo {
    margin-top: -10px;
    margin-right: -10px;
}

.about__content {
    flex: 0 1 50%;
    margin-left: 6px;
}

.about__title {
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    max-width: 460px;
    padding-top: 58px;
    margin-bottom: 38px;
    margin-top: 0;
}

.about__red {
    color: #E06733;
}

.about__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 55px;
    max-width: 605px;   
}

/* Service */

.service {
    background: #EDF2EC;
}

.service__content{
   max-width: 1007px; 
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 11px;
   margin-bottom: 43px;
   margin-left: 6px;
}

.service__title {
    max-width: 306px;
    font-family: 'Inika', serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}

.service__btns {
    display: flex;
    gap: 38px;
}

.service__button {
    width: 161px;
    padding: 12px 40px;
    border: 1px solid #E06733;
    border-radius: 5px;
    font-family: 'Inika', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    background: #EDF2EC;
    color: #E06733;
    cursor: pointer;
    transition: all 200ms ease;
}

.actives:hover {
    background: #E06733;
    color: white;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

/* Images  */

.service__items {
    display: grid;
    gap: 117px;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 51px;
    padding-bottom: 117px;
    margin-left: 6px;
}

.item-blog {
    display: flex;
    flex-direction: column;
}

.item-blog {
    background: url(pexels-frank-meriño-3612089.jpg);
    border-radius: 20px 20px 0px 0px;
}

.service__item-content {
    text-align: center;
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
}

.item-blog__title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
    margin: 10px 0px;
}

.item-blog__text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
    margin-bottom: 36px;
}

/*  Prices */

.prices {
    background: #FFFFFF;
}

.prices__container {
    display: flex;
    padding-top: 7px;
    padding-bottom: 108px;
}

.prices__accourdion {
    flex: 0 1 50%;
    padding-left: 7px;
}

.prices__accourdion-title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.prices__item {
    margin-top: 60px;
}

.prices__item {
    width: 332px;
    height: 280px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
}

.prices__items {
    display: grid;
    gap: 26px;
    padding: 30px 40px;
}

.accourdion__btn-title {
    padding: 16px 40px;
    width: 100%;
    display: block;
    text-align: left;
    background: #EDF2EC;
    border-radius: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}   

.accourdion__btn-title::after {
    content: "";
    background: url("./assets/img/accordion_btn.png") center / 100% no-repeat;
    flex: 0 0 17px;
    height: 17px;
}

.price__content {
    flex: 0 1 50%; 
}

.prices__text {
    margin-right: -10px;
}

.prices__text-title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
}

.price__btn {
    display: flex;
    justify-content: right;
    margin-top: 40px;  
}

.price__button {
    padding: 11px 33px;
    border: 1px solid #E06733;
    border-radius: 5px;
    font-family: 'Inika', serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #E06733;
    background: #FFFFFF;
    cursor: pointer;
}

.price__images {
    clear: right;
    margin-top: 34px;
}

.price__photo {
    float: right;
    margin-right: -18px;
}

/*  Contacts  */

.contacts {
    background: #EDF2EC;
}

.contacts__container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.contacts__images {
    margin-top: 52px;
    margin-left: 6px;
}    

.contacts__title {
    font-family: 'Inika', serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    margin-top: 60px;
    margin-left: 48px;
}

.contacts__btn {
    width: 450px;
    margin-top: 148px;
    margin-right: -10px;
}

.drop-down__btn {
    padding: 5px 18px;
    width: 100%;
    display: block;
    text-align: left;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.drop-down__btn::after {
    content: "";
    background: url("./assets/img/accordion_btn.png") center / 100% no-repeat;
    flex: 0 0 17px;
    height: 17px;
}

.drop-down__btn:hover {
    background: #C1E698;;
}


/* Footer */

.footer {
    background: #FFFFFF;    
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.footer__copy {
    padding-left: 9px;
}


.footer__year {
    padding-left: 17px;
}

.github {
    padding-left: 14px;
    text-decoration: none;
}

.rss {
    margin-left: 56px;
    text-decoration: none;
    color: #000000;
}

.social-footer__contacts {
    padding-top: 8px;
}

.social-footer__contacts {
    display: flex;
    gap: 25px;
    align-items: center;
    list-style: none;
}